data_miner
*.o
*.dat
!degree_model/data/*.dat
*.aux
*.log
*.synctex.gz
*.xlsx
*.pyc
*.pdf
!degree_model/data/*.pdf
*.docx
*.txt
!README.txt
opinion_model/*.png
opinion_model/*.svg
opinion_model/*.docx
